.barber-header {
	position: relative;
	color: #fff;
	border-bottom: 12px solid #f47920;
}

.barher-inner {
	position: absolute;
	top: 160px;
	left: 50%;
	@include vendor-prefixes(transform, translate(-50%, 0));
	text-align: center;

	img {
		display: inline-block;
	}

	h1 {
		@include rem(font-size, 90px);
		font-weight: 700;
		line-height: 1.2;
		letter-spacing: 5px;
		text-decoration: line-through #f47920;
		text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
		width: 535px;
		@include rem(margin-bottom, 70px);
	}
}
