.logo {
    background: #000 url("../img/header-bg.jpg") 0 0 no-repeat;
    min-height: 130px;
    text-align: center;

    @include rem(padding, 28px 0);
    @include respond-to(768px) {
       min-height: 140px;
    }

    img {
        display: inline-block;
    }

}

.nav {
    background-color: #fff;    
    @include respond-to(768px) {
       min-height: 40px;
    }

    ul {
        text-align: center;
        font-size: 0;

        li {
            display: inline-block;

            @include rem(font-size, 20px);

            font-weight: 500;

            text-transform: uppercase;
            @include rem(padding, 0 6px);
            @include respond-to(768px) {
               @include rem(padding, 0 55px);
            }

            a {
                position: relative;
                display: block;
                color: #000000;
                transition: color 0.1s,background-color 0.1s,padding 0.2s ease-in;
                @include rem(padding, 10px 0);
                &::before {
                    content: '';
                    display: block;
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    height: 3px;
                    width: 100%;
                    background-color: #f47920;
                    transform-origin: right top;
                    transform: scale(0, 1);
                    transition: color 0.1s,transform 0.2s ease-out;
                }

                &.active::before {
                    background-color: #f47920;
                }

                &:hover::before, &:focus::before {
                    transform-origin: left top;
                    transform: scale(1, 1);
                }

                &:hover, &:focus {
                  text-decoration: none;
                }
            }

            &.active a::before {
              background-color: #f47920;
              transform-origin: left top;
              transform: scale(1, 1);
            }
        }
    }
}