.oscar-section {
	position: relative;
	background: #aeafaf url('../img/silver-bg.jpg') 0 0 repeat;
	@include rem(padding, 55px 15px);
	text-align: center;
	@include respond-to(768px) {
       min-height: 380px;
    }

	h1, h3 {
		@include rem(font-size, 30px);
		font-weight: 700;
		line-height: 1.4;
		letter-spacing: 3px;		
		text-shadow: 4px 3px 3px rgba(0, 0, 0, 0.5);
		max-width: 580px;
		margin: 0 auto;
		color: #1e1a1b;
		@include respond-to(768px) {
	       @include rem(font-size, 40px);
	    }
	}

	h1 {
		span {
			color: #f47920;
			// @include rem(font-size, 80px);
			// line-height: normal;
		}

	}

	h3 {
		color: #fff;
		font-style: italic;
		@include rem(margin-top, 15px);
		@include respond-to(768px) {
	       @include rem(margin-top, 0);
	    }
	}
}