.oscar-section {
	position: relative;
	background: #aeafaf url('../img/silver-bg.jpg') 0 0 no-repeat;
	min-height: 380px;
	@include rem(padding, 55px 15px);
	text-align: center;

	h1, h3 {
		@include rem(font-size, 46px);
		font-weight: 700;
		line-height: 1.15;
		letter-spacing: 3px;		
		text-shadow: 4px 3px 5px rgba(0, 0, 0, 0.5);
		@include rem(margin-bottom, 70px);
		max-width: 580px;
		margin: 0 auto;
		color: #252122;
	}

	h1 {
		span {
			color: #f47920;
			// @include rem(font-size, 80px);
			// line-height: normal;
		}
	}

	h3 {
		color: #fff;
		font-style: italic;
	}
}