.product-top {
    background-color: #f9f9f9;
}

.product-wrapper {
    background-color: #fbfbfb;
    @include rem(padding-bottom, 30px);
    @include rem(margin-bottom, 30px);
}
.product-detail {
    @include rem(margin-top, 30px);
}
.related-products {
    background-color: #fbfbfb;
    @include rem(padding, 50px);
}
.product-item {
    img {
        width: 100%;
    }
}
.product-nav {
    //@include rem(margin-top, 5px);
    @include rem(padding, 10px 20px);
    .product-item {
        @include rem(padding, 0 5px);
        cursor: pointer;
    }
    .slick-prev {
        left: 0;
    }
    .slick-next {
        right: -3px;
    }
    .slick-prev:before, .slick-next:before {
        color: #000;
        @include rem(font-size, 22px);
        font-family: 'FontAwesome';
    }
    .slick-prev:before {
        content: '';
    }
    .slick-next:before {
        content: '\f105';
    }
}
.product-content {
    h1 {
        @include rem(font-size, 30px);
        font-weight: 300;
        @include rem(margin-bottom, 15px);
    }
    h2 {
        @include rem(font-size, 30px);
        font-weight: 300;
        @include rem(margin-bottom, 20px);
        color: $pink;
    }
    h4 {
        @include rem(font-size, 14px);
        font-weight: 500;
        @include rem(margin-top, 25px);
        @include rem(margin-bottom, 10px);
        color: $grey;
        &.stock {
            color: #5ad600;
            text-transform: uppercase;
            @include rem(margin, 30px 0);
        }
    }
    ul {
        li {
            @include rem(font-size, 12px);
            line-height: 2;
        }
    }
}
.quantity {
    @include rem(margin-bottom, 30px);
    select {
        border: 1px solid #ccc;
        border-radius: 4px;
        width: 60px;
        padding: 5px;
    }
    span {
        display: inline-block;
        position: relative;
        @include rem(margin-left, 15px);
        vertical-align: middle;
        @include rem(font-size, 12px);
        &:before {
            content: '';
            display: inline-block;
            width: 45px;
            height: 25px;
            background: url("../img/sheeping-icon.png") 0 0 no-repeat;
            vertical-align: middle;
            @include rem(margin-right, 10px);
        }
    }
}
.btn-add {
    color: $white;
    background-color: $pink;
    border-color: transparent;
    width: 166px;
    @include rem(font-size, 12px);
    padding: 12px 12px;
    @include vendor-prefixes(transition, all 0.2s ease);
    &:hover {
        color: $white;
        background-color: darken($pink, 10);
    }
}
.btn-submit {
    width: 100px;
    padding: 7px 12px;
}
.review-wrapper {
    @include rem(margin, 30px 0 50px);
    h2 {
        @include rem(font-size, 30px);
        font-weight: 300;
        @include rem(margin-bottom, 20px);
        color: $grey;
    }
    p {
        @include rem(font-size, 10px);
        @include rem(margin-bottom, 8px);
        color: $grey;
    }
    h5 {
        @include rem(font-size, 12px);
        @include rem(margin-bottom, 20px);
        color: $grey;
    }
}
.star-rating {
    @include rem(margin-bottom, 20px);
    span {
        display: inline-block;
        vertical-align: middle;
        margin-top: 7px;
        &.fa {
        	@include rem(font-size, 18px);
        	color: #ddd;
        	cursor: pointer;
        }


        &.checked {
            color: orange;
        }
    }
}

