.services-section {
	position: relative;
	background-color: #000;
	color: #fff;
	@include rem(padding, 100px 0 80px);

	p {
		@include rem(font-size, 26px);
		max-width: 885px;
		line-height: 1.4;
		margin: 0 auto;
		text-align: center;
		@include rem(margin-bottom, 70px);
	}
}

.services-list {
	@include rem(margin-bottom, 30px);
	@include respond-to(380px, 767px) {
       max-width: 380px;
       margin-left: auto;
       margin-right: auto;
    }
	h3 {
		@include rem(font-size, 28px);
		text-transform: uppercase;
		font-weight: 700;
		line-height: 1.2;
		letter-spacing: 3px;
		@include rem(margin-top, 30px);
		text-align: center;		
	}

}

.book-cta {
	@include rem(margin-top, 50px);
}

.work-wrapper {
	max-width: 1060px;
	margin: 0 auto;
	@include rem(margin-top, 50px);
}

.services {

	.heading {
		color: #231f20;
		padding-bottom: 0;

		span:after {
			height: 4px;
		}
	}

	.services-list h3 {
		@include rem(font-size, 25px);	
		letter-spacing: 0;
	}

}

.offer-section {
	@include rem(margin, 100px 0);

	p {
		@include rem(font-size, 26px);	
		font-weight: 400;	
		line-height: 1.4;
		max-width: 890px;
		margin: 0 auto;
		text-align: center;
		color: #231f20;
		@include rem(margin-bottom, 70px);
	}
}