.vb-section {
    @include rem(padding-top, 60px);
    @include rem(margin-bottom, 60px);
}

.home-blog {
	background: url('../img/blog.jpg') 0 0 no-repeat;
	@include rem(padding, 50px 30px);
	text-align: center;
	min-height: 312px;
	color: #fff;
    @include respond-to(767px, max) {
        margin-top: 40px;      
    }
	h2 {
        @include rem(font-size, 36px);
        font-weight: 600;        
        text-transform: uppercase;
        color: #fff;
        @include rem(margin-bottom, 20px);
    }

    p {
		 @include rem(font-size, 16px);
		 line-height: 1.5;
		 max-width: 372px;
		 margin: 0 auto;
		 @include rem(margin-bottom, 20px);
    }
}

.btn-outline {
    color: #fff;
    background-color: transparent;
    border-color: #ccc;
    border: 1px solid #998e85;
     @include vendor-prefixes(transition, all 0.3s ease);
    &:hover {
    	color: #fff;
    	border: 1px solid #fff;
    }
}