<div class="testimonials-sec">
	<div class="container">		
		<div class="">
			<div class="row">
				<div class="col-xs-12 col-sm-6 white-line">
					<h1 class="heading"><span>ABOUT D-SHAVE</span></h1>
					<div class="testimonial-list">
						<img src="assets/img/d-shave.jpg" alt="Haircut">	
						<div class="testimonial-content">
							<p>D’Shave encapsulates the art and passion of modern age techniques of Barbering, creating a combination of old school hair styling and modern age grooming techniques with an Indian twist. With D shave we want to inspire all the barbers in India and be a bench mark for the work we do and be the leading force of Indian Barbering. We want to educate every barber in coming years and define barbering in professional way.</p>
						</div>					
					</div>
				</div>
				<div class="col-xs-12 col-sm-6">
					<h1 class="heading"><span>ABOUT D-MAN</span></h1>
					<div class="testimonial-list">
						<img src="assets/img/d-man.jpg" alt="Haircut">	
						<div class="testimonial-content">
							<p>Darshan, embarked upon his journey with a modest beginning, interning at a Salon. His immense talent propelled him further into the mercurial world of Indian Cinema. Darshan has contributed in creating iconic styles for A-List celebrities like Salman Khan, Sanjay Dutt, Ranbir Kapoor, Ranveer Singh, Saif Ali Khan and many more. Darshan’s passion, perseverance & dedication are directed towards adding value to the Indian styling industry.</p>
						</div>					
					</div>
				</div>				
			</div>
		</div>
		
	</div>
</div>