<div class="testimonials-sec">
	<div class="container">		
		<div class="">
			<div class="row">
				<div class="col-xs-12 col-sm-6 white-line">
					<h1 class="heading"><span>ABOUT D-SHAVE</span></h1>
					<div class="testimonial-list">
						<img src="assets/img/d-shave.jpg" alt="Haircut">	
						<div class="testimonial-content">
							<p>D Shave is an attempt to revive the old school Indian Barbering. The shop where the age-old art of barbering meets the new age techniques and technology.</p>
						</div>					
					</div>
				</div>
				<div class="col-xs-12 col-sm-6">
					<h1 class="heading"><span>ABOUT D-MAN</span></h1>
					<div class="testimonial-list">
						<img src="assets/img/d-man.jpg" alt="Haircut">	
						<div class="testimonial-content">
							<p>Darshan started his carrier at the age of 16 working in Mumbai as an intern, sweeper/cleaner to becoming a Salon director to creating iconic styles for celebrities like Ranveer Singh, Salman Khan, Ranbeer Kapoor and many more. Darshans passion, perseverance & dedication are directed towards adding value to Indian Barbering Industry. </p>
						</div>					
					</div>
					<div class="text-center book-cta">
						<a href="#" class="btn btn-orange">Read More</a>
					</div>
				</div>				
			</div>
		</div>
		
	</div>
</div>