<div class="container">
	<div class="offer-section">
		<h1 class="heading"><span>D-TEAM</span></h1>
		<p>Our ace barbers are trained to understand your needs and offer un-paralleled styling-grooming techniques to create a look that suits you best.</p>
		<div class="barbers-list">
			<div class="row">
				<div class="col-xs-12 col-sm-6">
					<div class="services-list">
						<img src="assets/img/Barber-1.png" alt="Haircut">
						<h2>Lorem ipsum</h2>
						<h3 class="heading"><span>Barber</span></h3>
						
					</div>
				</div>
				<div class="col-xs-12 col-sm-6">
					<div class="services-list">
						<img src="assets/img/Barber-2.png" alt="Haircut">
						<h2>Lorem ipsum</h2>
						<h3 class="heading"><span>Barber</span></h3>
						
					</div>
				</div>
				<div class="col-xs-12 col-sm-6">
					<div class="services-list">
						<img src="assets/img/Barber-1.png" alt="Haircut">
						<h2>Lorem ipsum</h2>
						<h3 class="heading"><span>Barber</span></h3>
						
					</div>
				</div>
				<div class="col-xs-12 col-sm-6">
					<div class="services-list">
						<img src="assets/img/Barber-4.png" alt="Haircut">
						<h2>Lorem ipsum</h2>
						<h3 class="heading"><span>Barber</span></h3>
						
					</div>
				</div>
				<div class="col-xs-12 col-sm-12">
					<div class="services-list">
						<img src="assets/img/Barber-5.png" alt="Haircut">
						<h2>Lorem ipsum</h2>
						<h3 class="heading"><span>Barber</span></h3>
						
					</div>
				</div>
			</div>
		</div>
	</div>
</div>