<div class="oscar-section">
	<h1>
		<span>"</span> GROOMING IS THE SECRET OF REAL ELEGANCE. THE BEST CLOTHES, THE MOST WONDERFUL JEWELS, THE MOST GLAMOROUS BEAUTY DON'T COUNT WITHOUT GOOD GROOMING <span>"</span> </h1>
	<h3> - CHRISTIAN DIOR</h1>
</div>