<footer>
  <div class="bottom-footer">
    <div class="container">
      <div class="row">
        <div class="col-sm-5 footer-align">
          <ul class="footer-nav">
            <li>
              <a href="story.html">Story</a>
            </li>
            <li>
              <a href="services.html">Services</a>
            </li>            
            <li>
              <a href="barbers.html">Barbers</a>
            </li>
            <li>
              <a href="booknow.html">Book Now</a>
            </li>
          </ul>
        </div>
        <div class="col-sm-4 col-lg-4">
          <p>All Rights are reserved by D'Shave - The Barber Shop</p>
        </div>        
        <div class="col-sm-3 col-lg-3  social-follow">
          <ul>
            <li>
              <a href="https://www.facebook.com/dshavebarbershop/" target="_blank"><img src="assets/img/facebook.jpg" alt="Facebook"></a>
            </li>
            {{!-- <li>
              <a href="#"><img src="assets/img/twitter.jpg" alt="Twitter"></a>
            </li> --}}
            <li>
              <a href="https://www.instagram.com/dshavebarbershop/" target="_blank"><img src="assets/img/instagram.jpg" alt="instagram"></a>
            </li>
            {{!-- <li>
              <a href="#"><img src="assets/img/youtube.jpg" alt="Youtube"></a>
            </li> --}}
            <li>
              <a href="#" target="_blank"><img src="assets/img/google-plus.jpg" alt="Goolge Plus"></a>
            </li>
            <li>
              <a href="#" target="_blank"><img src="assets/img/wordpress.jpg" alt="wordpress"></a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</footer>

<div class="scroll-btn bounce">
  <span class="fa fa-angle-double-up"></span>
</div>