<footer>
  <div class="main-footer">
    <div class="container">
      <div class="row">
        <div class="col-xs-6 col-sm-3">
          <h4>Consumer</h4>
          <ul class="sitemap">
            <li><a href="#">Switches</a></li>
            <li><a href="">Switchgear</a></li>
            <li><a href="">Appliances</a></li>
            <li><a href="">Flexible Cables</a></li>
            <li><a href="#">Fans</a></li>
            <li><a href="#">Lighting</a></li>
            <li><a href="#">Water Heater</a></li>
            <li><a href="#">View All</a></li>
          </ul>
        </div>
        <div class="col-xs-6 col-sm-3">
          <h4>Products</h4>
          <ul class="sitemap">
            <li><a href="#">Air Coolers</a></li>
            <li><a href="#">Electric Air Cooler</a></li>
            <li><a href="#">Electric Water Air Cooler</a></li>
            <li><a href="#">Energy Saver Air Cooler</a></li>
            <li><a href="#">Office Air Cooler</a></li>
            <li><a href="#">Plastic Air Cooler</a></li>
            <li><a href="#">Portable Air Cooler</a></li>
            <li><a href="#">View All</a></li>
          </ul>
        </div>
        <div class="col-xs-6 col-sm-3">
          <h4>Discover Comrade</h4>
          <ul class="sitemap">
            <li><a href="#">About Comrade</a></li>
            <li><a href="#">Global Presence</a></li>
            <li><a href="#">Investor Relations</a></li>
            <li><a href="#">CSR</a></li>
            <li><a href="#">Sustainability</a></li>
            <li><a href="#">News & Media</a></li>
            <li><a href="#">Careers</a></li>
            <li><a href="#">Soch - Innovation Center</a></li>
          </ul>
        </div>
        <div class="col-xs-6 col-sm-3">
          <h4>Reach Us</h4>
          <ul class="sitemap">
            <li><a href="#">Contact Us</a></li>
            <li><a href="#">Comrade Galaxy</a></li>
            <li><a href="#">Dealer Locator</a></li>
            <li><a href="#">Support</a></li>
            <li><a href="#">Enquiry Form</a></li>
            <li><a href="#">Product Registration</a></li>            
          </ul>
        </div>        
      </div>
    </div>
  </div>
  <div class="bottom-footer">
    <div class="container">
      <div class="row">
        <div class="col-sm-6">
          <a class="navbar-brand" href="/">Comrade</a>
        </div>
        <div class="col-sm-6 social-follow">
          <ul>
            <li>
              <a href="#"><span class="fa fa-facebook"></span></a>
            </li>
            <li>
              <a href="#"><span class="fa fa-twitter"></span></a>
            </li>
            <li>
              <a href="#"><span class="fa fa-youtube"></span></a>
            </li>
            <li>
              <a href="#"><span class="fa fa-instagram"></span></a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="bottom-footer grey-footer">
    <div class="container">
      <div class="row">
        <div class="col-sm-6">
          <p><a href="/">Sitemap</a> | <a href="/">Privacy</a></p>              
          <p>Copyright 2018 Comrade Appliances Pvt. Ltd. All rights reserved.</p>   
        </div>
        <div class="col-sm-6">          
          <p class="text-right">Powered by <a href="svpinfotech.com" target="_blank">svpinfotech.com</a></p>
        </div>
      </div>
    </div>
  </div>
</footer>