<div class="container-fluid">
	<div class="row row-no-padding">
		<div class="col-sm-12">
			<div class="barber-header">
				<img src="assets/img/header-img.jpg" alt="Barber Shop">
				<div class="barher-inner">
					<h1>india first new age barbershop</h1>

					<img src="assets/img/google-rating.jpg" alt="Google Rating">
				</div>
			</div>
		</div>
	</div>
</div>