<ul class="dropdown-menu dropdown-menu-3 mega-dropdown-menu">
        <li class="col-xs-6 col-3 col-sm-2">
            <a href="#">
                <div class="product-card">
                    <div class="photo sn-photo">
                        <img alt="Crystal Necklace" src="assets/img/cooler-1.jpg">
                    </div>
                    <h4>Air Coolers</h4>
                </div>
            </a>
        </li>
        <li class="col-xs-6 col-3 col-sm-2">
            <a href="#">
                <div class="product-card">
                    <div class="photo sn-photo">
                        <img alt="Crystal Necklace" src="assets/img/cooler-1.jpg">
                    </div>
                    <h4>Air Coolers</h4>
                </div>
            </a>
        </li>
        <li class="col-xs-6 col-3 col-sm-2">
            <a href="#">
                <div class="product-card">
                    <div class="photo sn-photo">
                        <img alt="Crystal Necklace" src="assets/img/cooler-1.jpg">
                    </div>
                    <h4>Air Coolers</h4>
                </div>
            </a>
        </li>
        <li class="col-xs-6 col-3 col-sm-2">
            <a href="#">
                <div class="product-card">
                    <div class="photo sn-photo">
                        <img alt="Crystal Necklace" src="assets/img/cooler-1.jpg">
                    </div>
                    <h4>Air Coolers</h4>
                </div>
            </a>
        </li>
        <li class="col-xs-6 col-3 col-sm-2">
            <a href="#">
                <div class="product-card">
                    <div class="photo sn-photo">
                        <img alt="Crystal Necklace" src="assets/img/cooler-1.jpg">
                    </div>
                    <h4>Air Coolers</h4>
                </div>
            </a>
        </li>
        <li class="col-xs-6 col-3 col-sm-2">
            <a href="#">
                <div class="product-card">
                    <div class="photo sn-photo">
                        <img alt="Crystal Necklace" src="assets/img/cooler-1.jpg">
                    </div>
                    <h4>Air Coolers</h4>
                </div>
            </a>
        </li>
    </ul>