<header>
    <div class="logo">
        <img src="assets/img/logo.png" alt="D Shave">
    </div>
    <div class="nav">
        <ul>
            <li>
                <a href="#">Story</a>
            </li>
            <li>
                <a href="#">Services</a>
            </li>
            <li>
                <a href="#">Barbers</a>
            </li>
            <li>
                <a href="#">Book Now</a>
            </li>
        </ul>
    </div>
</header>