<header>
    <div class="logo">
        <a href="index.html"><img src="assets/img/logo.png" alt="D Shave"></a>
    </div>
    <div class="nav">
        <ul>
            <li class="active">
                <a href="story.html">Story</a>
            </li>
            <li>
                <a href="services.html">Services</a>
            </li>
            <li>
                <a href="barbers.html">Barbers</a>
            </li>
            <li>
                <a href="booknow.html">Book Now</a>
            </li>
        </ul>
    </div>
</header>