<div class="container">
	<div class="offer-section">
		<h1 class="heading"><span>WHAT WE OFFER</span></h1>
		<p>D Shave specializes in cutting Hair trimming beard clean & smooth hot towel shave and Oil Champi (Indian head massage). With our client request, we have recently started coloring hair.</p>
		<div class="row">
			<div class="col-xs-12 col-sm-4">
				<div class="services-list">
					<img src="assets/img/haircut.jpg" alt="Haircut">
					<h3 class="heading"><span>Haircut</span></h3>
					<p>Attention to detail is what defines a well-groomed look. Our precision cutting techniques will ensure that your hairstyle will leave a long lasting impression. </p>
					<p><b>Haircut For Boys - <span class="fa fa-rupee"></span>1,500/- <br> Girls - <span class="fa fa-rupee"></span>2000/-</b></p>
				</div>
			</div>
			<div class="col-xs-12 col-sm-4">
				<div class="services-list">
					<img src="assets/img/bread.jpg" alt="Haircut">
					<h3 class="heading"><span>BEARD TRIM & SHAVE</span></h3>
					<p>Growing a beard is only the beginning. A regular grooming session is what your beard needs to prolong its life and also complete the look you deserve.</p>
					<p>Hot towel shave: <span class="fa fa-rupee"></span>850/- <br> Beard trim: <span class="fa fa-rupee"></span>650/-</p>
				</div>
			</div>
			<div class="col-xs-12 col-sm-4">
				<div class="services-list">
					<img src="assets/img/oil.jpg" alt="Haircut">
					<h3 class="heading"><span>OIL CHAMPI</span></h3>
					<p>Indulge in a rejuvenating head massage session at the hands of our master barbers. Our range of essential oils will nourish and enhance the volume of your hair.</p>
					<p>Oil Champi: <span class="fa fa-rupee"></span>850/-</p>
				</div>
			</div>
		</div>

		<div class="text-center book-cta">
			<a href="booknow.html" class="btn btn-orange">Book Now</a>
		</div>
	</div>
</div>