<div class="products-section">
    <div class="container">
        <h1>Our Products</h1>
        <div class="row">
            <div class="col-xs-12 medium-col  col-sm-3">
                <div class="product-card">
                    <a href="#" class="photo">
                        <img alt="Crystal Necklace" src="assets/img/cooler-1.jpg">
                    </a>
                    <h2><a href="#">Air Coolers</a></h2>
                </div>
            </div>
            <div class="col-xs-12 medium-col col-sm-3">
                <div class="product-card">
                    <a href="#" class="photo">
                        <img alt="Crystal Necklace" src="assets/img/cooler-1.jpg">
                    </a>
                    <h2><a href="#">Air Coolers</a></h2>
                </div>
            </div>
            <div class="col-xs-12 medium-col col-sm-3">
                <div class="product-card">
                    <a href="#" class="photo">
                        <img alt="Crystal Necklace" src="assets/img/cooler-1.jpg">
                    </a>
                    <h2><a href="#">Air Coolers</a></h2>
                </div>
            </div>
            <div class="col-xs-12 medium-col col-sm-3">
                <div class="product-card">
                    <a href="#" class="photo">
                        <img alt="Crystal Necklace" src="assets/img/cooler-1.jpg">
                    </a>
                    <h2><a href="#">Air Coolers</a></h2>
                </div>
            </div>            
        </div>
        <div class="text-center view-all">
            <a href="#" class="btn btn-primary btn-blue">View All</a>
        </div>
    </div>
</div>