<div class="container-fluid">
	<div class="row row-no-padding">
		<div class="col-sm-12">
			<div class="hero-slider">
				<div class="hero-image">
					<img src="assets/img/banner-1.jpg" alt="Comrade">
				</div>				
			</div>
		</div>
	</div>
</div>

<div class="product-top">
	<div class="container">
		<div class="product-short">
		<div class="row">
			<div class="col-xs-12 col-sm-5">
				<div class="slider-for">
					<div class="item">
						<img src="assets/img/big-cooler.jpg" alt="image"  draggable="false"/>
					</div>
					<div class="item">
						<img  src="assets/img/big-cooler.jpg" alt="image" draggable="false"/>
					</div>
					<div class="item">
						<img  src="assets/img/big-cooler.jpg" alt="image" draggable="false"/>
					</div>
					<div class="item">
						<img  src="assets/img/big-cooler.jpg" alt="image" draggable="false"/>
					</div>
					<div class="item">
						<img  src="assets/img/big-cooler.jpg" alt="image" draggable="false"/>
					</div>
				</div>
				<div class="slider-nav">
					<div class="item">
						<img  src="assets/img/cooler-1.jpg" alt="image"  draggable="false"/>
					</div>
					<div class="item">
						<img  src="assets/img/cooler-1.jpg" alt="image" draggable="false"/>
					</div>
					<div class="item">
						<img  src="assets/img/cooler-1.jpg" alt="image" draggable="false"/>
					</div>
					<div class="item">
						<img  src="assets/img/cooler-1.jpg" alt="image" draggable="false"/>
					</div>
					<div class="item">
						<img  src="assets/img/cooler-1.jpg" alt="image" draggable="false"/>
					</div>
				</div>
			</div>
			<div class="col-xs-12 col-sm-7">
				<div class="product-content">
					<h3>Prim Touch 30</h3>
					<h4>The Coolest Tower Air Cooler</h4>
					<h6>India's first innovative cooler range</h6>
					<p>Prim Touch 30 air cooler range boasts innovative set of features. It includes a unique fan design for low noise cooling, collapsible louvers to prevent dust and insects from entering the air cooler, ice chamber for instant chilled air, and auto fill setup for continuous water supply. High-performance and easy maintenance are other top capabilities of Celia series.</p>
					<h6>Strong Air Delivery</h6>
					<p>Air delivery of 3500 m³/h assures effective cooling of air even in larger areas.Air delivery of 3500 m³/h assures effective cooling of air even in larger areas.</p>
					<h6>Fully Collapsible Louvers</h6>
					<p>It prevents dust and insects from entering inside the air cooler.</p>
					<h6>Warranty</h6>
					<p>1 Year</p>
					<!--p class="mrp">MRP Rs.: ₹ 14490.00</p-->
					<div class="cta">
						<a href="#"><span class="fa fa-download"></span> Download Brochure</a>
						<a href="#"><span class="fa fa-map"></span> Locate your Nearest Store</a>
					</div>
				</div>
			</div>
		</div>
	</div>
	</div>
</div>

<div class="parallax" style="height: auto;  background-image: url('assets/img/cold-bg.jpg');">
	<div class="container">
	
	<div role="tabpanel" class="tab-top">
		<!-- Nav tabs -->
		<ul class="nav nav-tabs" role="tablist">
			<li role="presentation" class="active">
				<a href="#features" aria-controls="features" role="tab" data-toggle="tab" class="tab-click">Detail Features</a>
			</li>
			<li role="presentation">
				<a href="#tech" aria-controls="tech" role="tab" data-toggle="tab" class="tab-click">Technical Specification</a>
			</li>
			<li role="presentation">
				<a href="#demo" aria-controls="demo" role="tab" data-toggle="tab" class="tab-click">Demo Guide</a>
			</li>
		</ul>
		
		<!-- Tab panes -->
		<div class="tab-content">
			<div role="tabpanel" class="tab-pane active" id="features">
				<div class="tab-wrapper">
					<div class="row">
						<div class="col-xs-12 medium-col col-sm-4">
							<div class="product-card features">
								<div class="photo">
									<img alt="Crystal Necklace" src="assets/img/hi-icon.jpg" class="features-img">
									<img src="assets/img/hi-icon-hover.jpg" alt="Energy" class="img-hover">
								</div>
								<h2>Hi - Powered  Cooling</h2>
								<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
							</div>
						</div>
						<div class="col-xs-12 medium-col col-sm-4">
							<div class="product-card features">
								<div class="photo">
									<img alt="Crystal Necklace" src="assets/img/energy-icon.jpg" class="features-img">
									<img src="assets/img/energy-icon-hover.jpg" alt="Energy" class="img-hover">
								</div>
								<h2>Energy Efficiency </h2>
								<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
							</div>
						</div>
						<div class="col-xs-12 medium-col col-sm-4">
							<div class="product-card features">
								<div class="photo">
									<img alt="Crystal Necklace" src="assets/img/intellegnt-icon.jpg" class="features-img">
									<img src="assets/img/intellegnt-icon-hover.jpg" alt="Energy" class="img-hover">
								</div>
								<h2>Intelligent Features</h2>
								<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
							</div>
						</div>
						<div class="col-xs-12 medium-col col-sm-4">
							<div class="product-card features">
								<div class="photo">
									<img alt="Crystal Necklace" src="assets/img/remote-icon.jpg" class="features-img">
									<img src="assets/img/remote-icon-hover.jpg" alt="Energy" class="img-hover">
								</div>
								<h2>Fully Functional Remote</h2>
								<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
							</div>
						</div>
						<div class="col-xs-12 medium-col col-sm-4">
							<div class="product-card features">
								<div class="photo">
									<img alt="Crystal Necklace" src="assets/img/service-icon.jpg" class="features-img">
									<img src="assets/img/service-icon-hover.jpg" alt="Energy" class="img-hover">
								</div>
								<h2>Assured Services</h2>
								<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
							</div>
						</div>
						<div class="col-xs-12 medium-col col-sm-4">
							<div class="product-card features">
								<div class="photo">
									<img alt="Crystal Necklace" src="assets/img/remote-icon.jpg" class="features-img">
									<img src="assets/img/remote-icon-hover.jpg" alt="Energy" class="img-hover">
								</div>
								<h2>Fully Functional Remote</h2>
								<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div role="tabpanel" class="tab-pane" id="tech">
				<div class="tab-wrapper">
					<div class="table-responsive">
						<table class="table table-hover">							
							<tbody>
								<tr>
									<td><strong>Model Name</strong></td>
									<td>Prim Touch 50</td>
								</tr>
								<tr>
									<td><strong>Water Inlet Door Push to Open Button</strong></td>
									<td>Yes</td>
								</tr>
								<tr>
									<td><strong>Wattage</strong></td>
									<td>160 Watts</td>
								</tr>
								<tr>
									<td><strong>Ice Box</strong></td>
									<td>Yes</td>
								</tr>
								<tr>
									<td><strong>Unit Dimensions</strong></td>
									<td>L340xW360xH1310 mm</td>
								</tr>
								<tr>
									<td><strong>Speed Control</strong></td>
									<td>3 (High, Mid, Low)</td>
								</tr>
								<tr>
									<td><strong>Castor Wheel For Easy Movability</strong></td>
									<td>52mm, Yes, #4</td>
								</tr>
								<tr>
									<td><strong>Model Name</strong></td>
									<td>Prim Touch 50</td>
								</tr>
								<tr>
									<td><strong>Water Inlet Door Push to Open Button</strong></td>
									<td>Yes</td>
								</tr>
								<tr>
									<td><strong>Wattage</strong></td>
									<td>160 Watts</td>
								</tr>
								<tr>
									<td><strong>Ice Box</strong></td>
									<td>Yes</td>
								</tr>
								<tr>
									<td><strong>Unit Dimensions</strong></td>
									<td>L340xW360xH1310 mm</td>
								</tr>
								<tr>
									<td><strong>Speed Control</strong></td>
									<td>3 (High, Mid, Low)</td>
								</tr>
								<tr>
									<td><strong>Castor Wheel For Easy Movability</strong></td>
									<td>52mm, Yes, #4</td>
								</tr>
								
								
							</tbody>
						</table>
					</div>
				</div>
			</div>
			<div role="tabpanel" class="tab-pane" id="demo">
				<div class="tab-wrapper">
					<div class="row">
            <div class="col-xs-8 col-xs-offset-2">
                 <style>.embed-container { position: relative; padding-bottom: 56.25%; height: 0; overflow: hidden; max-width: 100%; } .embed-container iframe, .embed-container object, .embed-container embed { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }</style><div class='embed-container'><iframe src='https://www.youtube.com/embed/fln9AfcKxqY' frameborder='0' allowfullscreen></iframe></div>
            </div>
                                 
        </div> 
				</div>
			</div>
		</div>
	</div>
</div>

</div>
