<div class="services-section">
	<div class="container">
		<h1>OUR SERVICES</h1>
		<p>Experience the perfect blend of traditional barber services combined with modern day cutting edge grooming techniques. Leave an impression with your razor sharp beard and hairstyle, Tailored to suit your needs!</p>

		<div class="row">
			<div class="col-xs-6 col-sm-4">
				<div class="services-list">
					<img src="assets/img/haircut.jpg" alt="Haircut">
					<h3>Haircut</h3>
				</div>
			</div>
			<div class="col-xs-6 col-sm-4">
				<div class="services-list">
					<img src="assets/img/bread.jpg" alt="Haircut">
					<h3>BEARD TRIM & SHAVE</h3>
				</div>
			</div>
			<div class="col-xs-6 col-sm-4">
				<div class="services-list">
					<img src="assets/img/oil.jpg" alt="Haircut">
					<h3>OIL CHAMPI</h3>
				</div>
			</div>
		</div>

		<div class="text-center book-cta">
			<a href="#" class="btn btn-default">Book Now</a>
		</div>
	</div>
</div>