<div class="testimonials-sec">
	<div class="container">
		<h1 class="heading"><span>Testimonials</span></h1>
		<div class="work-wrapper">
			<div class="row">
				<div class="col-xs-12 col-sm-6">
					<div class="testimonial-list">
						<img src="assets/img/salman.jpg" alt="Haircut">	
						<div class="testimonial-content">
							<p>“So I landed up at the barber shop and let Darshan take over from there got my first under cut which totally rocked my socks!”</p>
							<h3>SALMAN KHAN</h3>
						</div>					
					</div>
				</div>
				<div class="col-xs-12 col-sm-6">
					<div class="testimonial-list">
						<img src="assets/img/ayesha.jpg" alt="Haircut">	
						<div class="testimonial-content">
							<p>“So I landed up at the barber shop and let Darshan take over from there got my first under cut which totally rocked my socks!”</p>
							<h3>AYESHA B I L L I MOR I A</h3>
						</div>					
					</div>
				</div>
				<div class="col-xs-12 col-sm-6">
					<div class="testimonial-list">
						<img src="assets/img/ranveer.jpg" alt="Haircut">	
						<div class="testimonial-content">
							<p>“So I landed up at the barber shop and let Darshan take over from there got my first under cut which totally rocked my socks!”</p>
							<h3>Ranveer Singh</h3>
						</div>					
					</div>
				</div>
				<div class="col-xs-12 col-sm-6">
					<div class="testimonial-list">
						<img src="assets/img/dman.jpg" alt="Haircut">	
						<div class="testimonial-content">
							<p>“So I landed up at the barber shop and let Darshan take over from there got my first under cut which totally rocked my socks!”</p>
							<h3>D-man</h3>
						</div>					
					</div>
				</div>
			</div>
		</div>
		
	</div>
</div>