<!doctype html>
<html lang="en">
  <head>
    <title>
      {{#if title}}
        {{title}}
      {{else}}
        Welcome to D-Shave
      {{/if}}
    </title>
    {{> styles}}
  </head>
  <body>
    {{> nav }}
    {{> header }}   
    {{> oscar }} 
    {{> services }}
    {{> giorgio }} 
    {{> work }}
    {{> charles }} 
    {{> testimonials}}
    {{> footer }}
    {{> scripts }}
  </body> 
</html>
