<!doctype html>
<html lang="en">
  <head>
    <title>
      {{#if title}}
        {{title}}
      {{else}}
        Welcome to Comrade
      {{/if}}
    </title>
    {{> styles}}
  </head>
  <body>
    {{> nav }}     
    {{> product-detail }}    
    {{> footer }}
    {{> scripts }}
  </body> 
</html>
